@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');
body {
  margin: 0;
  font-family: 'Shippori Mincho B1', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Shippori Mincho B1', serif;
}
